.pop-up__form-button-save_inactive{
    background-color: #E5E5E5;
    color:#000000;
    opacity: 0.2;
    border: 1px solid;
    cursor: default;
}
.pop-up__form-button-save_inactive:hover{
    opacity: 0.2;
}
