.card__like_active{
    all: unset;
    background-image: url("../../../../images/like-active.svg");
    width: 22px;
    height: 19px;
    align-self: center;
    opacity: 1;
    transition: opasity 0.2s ease-in-out;
}

.card__like_active:hover{
    opacity: 0.5;
    cursor: pointer;
}