.body {
    margin: auto;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    min-width: 320px;
    max-width: 1280px;
    color: white;
    position: relative;
}

.header {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 36.25px;
    max-width: 68.75%;
    min-height: 74px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

.content {}

.profile {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 68.75%;
    margin-bottom: 51px;
    gap: 30px;
}

.profile__avatar {
    border-radius: 50%;
}

.profile-info {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-info__container {
    display: flex;
    gap: 18px;
}

.profile-info__name {
    width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 2.625rem;
    line-height: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info__profession {
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info__edit-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(./images/edit-button.svg);
    background-position: center;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    align-self: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url(./images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.cards {
    max-width: 68.75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    margin-bottom: 67px;
}

.card {
    max-width: 32.04%;
    min-height: 361px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
}

.card__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.card__info {
    max-width: 87.23%;
    margin-left: 21px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.card__place {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1, 8125rem;
}

.card__like {
    width: 22px;
    height: 19px;
    align-self: center;
    opacity: 1;
    transition: opasity 0.2s ease-in-out;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    max-width: 68.75%;
    margin: auto;
    margin-bottom: 60px;
}

.footer__title {
    min-width: 36.14%;
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
}

.pop-up {
    position: relative;
    display: none;
}

.pop-up::before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.pop-up__form {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 430px;
    min-height: 330px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
}

.pop-up__form-title {
    max-width: 330px;
    margin: 34px 0 54px 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;

}

.pop-up__form-input-name {
    display: block;
    width: 81.4%;
    height: 27px;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(00, 00, 00, 0.2);
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.pop-up__form-input-profession {
    display: block;
    width: 81.4%;
    height: 27px;
    margin: auto;
    margin-bottom: 48px;
    border: none;
    border-bottom: 1px solid rgba(00, 00, 00, 0.2);
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.pop-up__form-button-save {
    display: block;
    padding: 0;
    margin: auto;
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    width: 358px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    cursor: pointer;
}

.pop-up__form-button-save:hover{
    opacity: 0.8;
}

.pop-up__form-button-close{
    width: 32px;
    height: 32px;
    background-image: url('./images/pop-up-close.svg');
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.pop-up__form-button-close:hover{
    opacity: 0.6;
}