.profile-info__container {
    display: flex;
    gap: 18px;
}

@media all and (min-width: 320px) and (max-width: 1024px){
    .profile-info__container {
        width: 100%;
        gap: 10px;
        justify-content: center;
        margin-left: 14px;
    }
}