.profile {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 68.75%;
    margin-bottom: 51px;
    gap: 30px;
}

@media all and (min-width: 320px) and (max-width: 1024px){
    .profile {
        max-width: 88.13%;
        text-align: center;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 36px;
    }
}