.profile-info__profession {
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (min-width: 320px) and (max-width: 768px){
    .profile-info__profession {
        max-width: 100%;
        text-align: center;
        font-size: 0.875rem;
        line-height: 0.875rem;
    }
}