.pop-up__form-input-error {
    color: #FF0000;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    min-height: 30px;
    max-width: 358px;
    display: block;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .pop-up__form-input-error {
        max-width: 238px;
    }
}