.pop-up__form-title {
    max-width: 330px;
    height: 23px;
    margin: 34px 0 54px 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

@media all and (min-width: 320px) and (max-width: 768px){
    .pop-up__form-title {
        max-width: 84.4%;
        margin: 25px auto 75px;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}