.pop-up__form-title {
    max-width: 330px;
    margin: 0 0 48px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

@media all and (min-width: 320px) and (max-width: 768px){
    .pop-up__form-title {
        max-width: 100%;
        margin: 0 auto 75px;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}