.card__like {
    all: unset;
    background-image: url("../../../images/like.svg");
    width: 22px;
    height: 19px;
    align-self: center;
    opacity: 1;
    transition: opasity 0.2s ease-in-out;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}