.profile-info__edit-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-button.svg);
    background-position: center;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    align-self: center;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    margin-top: 2px;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 768px){
    .profile-info__edit-button {
        width: 18px;
        height: 18px;
        align-self: center;
    }
}