.pop-up-card__container{
    min-width: 816px;
    max-height: 562px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 10px;
}