.pop-up__button-close {
    width: 32px;
    height: 32px;
    background-image: url('../../../images/pop-up-close.svg');
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: #000;
    border: none;
    cursor: pointer;
}

.pop-up__button-close:hover {
    opacity: 0.6;
}

@media all and (min-width: 320px) and (max-width: 768px){
    .pop-up__button-close {
        background-image: url('../../../images/pop-up-close-320.svg');
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}